# HUDM 5199 - Spring 2022

# Yutong Shen, ys3453

# HW1 - 2.2

## Session 2

**Variables and Assignment Statements**

In [1]:
41 + 57

98

In [2]:
x = 5

In [3]:
y = 10

In [4]:
x = 5
y = 10

In [6]:
x, y = 5, 10

In [7]:
x + y

15

In [8]:
total = x + y

In [9]:
total

15

**Numeric Data Types, Literals, and the str Data Type**

In [11]:
type(x)

int

In [12]:
type(10.5)

float

In [14]:
title = 'Hello'
type(title)

str

**Variable Reassignment**

In [15]:
x = 99

In [16]:
x = 'Take me to your leader'

In [17]:
x

'Take me to your leader'

**Operators - Arithmetic**

In [18]:
123/0

ZeroDivisionError: division by zero

**Error and Tracebacks**

In [23]:
z + 7

NameError: name 'z' is not defined

**Displaying Output with the print Function**

In [19]:
print('Welcome to Python!')

Welcome to Python!

In [20]:
print("Welcome to Python!")

Welcome to Python!

In [21]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

In [22]:
print('Sum is', 7 + 3)

Sum is 10

**Printing Many Lines of Text with One Statement**

In [23]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

**Escape Characters**

In [24]:
print('this is a longer string, so we 
split it over two lines')

SyntaxError: EOL while scanning string literal (407964710.py, line 1)

In [24]:
print('this is a longer string, so we \
split it over two lines')

this is a longer string, so we split it over two lines

**Including Quotes in Strings**

In [25]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [27]:
print('Display 'hi' in quotes')

SyntaxError: invalid syntax (102489360.py, line 1)

In [26]:
print('Display \'hi\' in quotes')

Display 'hi' in quotes

In [28]:
print("Display the name O'brien")

Display the name O'brien

In [29]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

In [30]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

**Multiline Strings**

In [31]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

In [32]:
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [33]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines'

**Comments**

In [34]:
# This is a comment

In [35]:
x = 7 # 7 is assigned to x

**Getting Input from the User**

In [44]:
name = input("what's your name? ")

what's your name? Yutong

In [46]:
name

'Yutong'

In [47]:
print(name)

Yutong

In [39]:
value1 = input('Enter first number: ')

Enter first number: 2

In [40]:
value2 = input('Enter second number: ')

Enter second number: 7

In [43]:
value1 + value2 # string concatenation

'27'

In [48]:
x = 11.56
print(int(x))

11

In [49]:
value1 = int(value1)
value2 = int(value2)

In [50]:
value1 + value2

9

In [51]:
another_value = int(input('Enter another number: '))

Enter another number: 17

In [52]:
another_value

17

In [53]:
value1 + value2 + another_value

26

**Operators - Comparison and Logical**

In [54]:
7 > 4

True

In [32]:
7 >= 4

True

**Making Decisions with the if Statement: Introducing Scripts**

In [55]:
print('Enter two intergers, and I will tell you', 'the relationships they satisfy')

# read first integer
number1 = int(input('Enter first integer: '))

# read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
    print(number1, 'is equal to', number2)
    
if number1 != number2:
    print(number1, 'is not equal to', number2)
    
if number1 < number2:
    print(number1, 'is less than', number2)

if number1 > number2:
    print(number1, 'is greater than', number2)
    
if number1 <= number2:
    print(number1, 'is less than or equal to', number2)
    
if number1 >= number2:
    print(number1, 'is greater than or equal to', number2)

Enter two intergers, and I will tell you the relationships they satisfy
Enter first integer: 5
Enter second integer: 7
5 is not equal to 7
5 is less than 7
5 is less than or equal to 7

## Session 3

In [2]:
grade = 85
if grade >= 60:
print('Passed')

IndentationError: expected an indented block (1938229125.py, line 3)

In [1]:
grade = 85
if grade >= 60:
    print('Passed')

Passed

In [4]:
grade = 50
if grade >= 60:
    print('Passed')
else:
    print('Failed')

Failed

In [6]:
grade = 90
if grade >= 60:
    result = 'Passed'
else:
    result = 'Failed'
result

'Passed'

**Conditional Expressions**

In [8]:
result = ('Passed' if grade >= 60 else 'Failed')
result

'Passed'

In [9]:
'Passed' if grade >= 60 else 'Failed'

'Passed'

**Multiple Statements in a Suite**

In [10]:
grade = 40

In [11]:
if grade >= 60:
    print('Passed')
else:
    print('Failed')
    print('You must take this course again')

Failed
You must take this course again

In [12]:
grade = 100

In [13]:
if grade >= 60:
    print('Passed')
else:
    print('Failed')
print('You must take this course again')

Passed
You must take this course again

**if...elif...else Statement**

In [14]:
grade = 77

In [15]:
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

C

**while Statement**

In [18]:
product = 3

In [19]:
while product <= 50:
    product = product * 3

In [20]:
product

81

**for Statement**

In [21]:
for character in 'Programming':
    print(character)

P
r
o
g
r
a
m
m
i
n
g

In [22]:
for character in 'Programming':
    print(character, end = '  ') # end is a keyword argument, but it's not a Python keyword

P  r  o  g  r  a  m  m  i  n  g

**Function print's**

In [25]:
print(10,20,30)

10 20 30

In [26]:
print(10,20,30, sep='')

102030

In [27]:
print(10,20,30, sep=',')

10,20,30

In [28]:
print(10,20,30, sep='!')

10!20!30

**Iterables, Lists and iterators**

In [29]:
total = 0

In [30]:
for number in [2, -3, 0, 17, 9]:
    total = total + number

In [31]:
total

25

**Built-In range Function**

In [33]:
for counter in range(10):
    print(counter, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [34]:
for number in range(5, 10):
    print(number, end = ' ')

5 6 7 8 9

In [35]:
for number in range(0, 10, 2):
    print(number, end = ' ')

0 2 4 6 8

In [36]:
for number in range(10, 0, -2):
    print(number, end = ' ')

10 8 6 4 2

**Augmented Assignments**

In [38]:
total = 0
for number in [1, 2, 3, 4, 5]:
    total = total + number
total

15

In [39]:
total = 0
for number in [1, 2, 3, 4, 5]:
    total += number
total

15

**Program Development: Sequence-Controlled Iteration**

In [51]:
# initialization phase
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]
grade_counter = 0
total = 0 # sum of grades

# processing phase
for grade in grades:
    total += grade # add current grade to the running total
    grade_counter += 1 # indicate that one more grade was processed
    
# termination phase
average = total / grade_counter
# average = total / len(grades)
print(f'Class average is: {average}')

Class average is: 81.7

**Introduction to Formatted Strings**

In [52]:
name = 'Janet'
print(f'My name is {name}')

My name is Janet

**Program Development: Sentinel-Controlled Iteration / Indefinite Iteration**

In [57]:
#initilization phase
total = 0 # sum of grade
grade_counter = 0


#processing phase
grade = int(input('Enter grade, -1 to end: ')) # get one grade

while grade != -1:
    total += grade
    grade_counter += 1
    grade = int(input('Enter grade, -1 to end: '))

#termination phase
if grade_counter != 0:
    average = total/grade_counter
    print (f'class average is {average:.2f}')
else:
    print('No grades were entered')

Enter grade, -1 to end: 88
Enter grade, -1 to end: 64
Enter grade, -1 to end: 73
Enter grade, -1 to end: 92
Enter grade, -1 to end: 79
Enter grade, -1 to end: 47
Enter grade, -1 to end: -1
class average is 73.83

## Textbook Exercises

**2.1**

In [59]:
x = 2
y = 3

In [60]:
# a) 
print('x =', x)

x = 2

In [61]:
# b) 
print('Value of', x, '+', x, 'is', (x + x))

Value of 2 + 2 is 4

In [62]:
# c) 
print('x =')

x =

In [63]:
# d) 
print((x + y), '=', (y + x))

5 = 5

**2.2**

In [67]:
# The code doesn't specify the input type of integer. The correct code should be:
rating = int(input('Enter an integer rating between 1 and 10: '))

Enter an integer rating between 1 and 10: 7

**2.3**

In [71]:
grade = 91
if grade >= 90:
    print(f'Congratulations! Your grade of {grade} earns you an A in this course')

Congratulations! Your grade of 91 earns you an A in this course

**3.3**

In [72]:
for row in range(10):
           for column in range(10):
               print('<' if row % 2 == 1 else '>', end='')
           print()

>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<

The code diaplays 10 rows of '<'s and '>'s, with the odd rows printing 10 '>' symbols and the even rows printing 10 '<' symbols.

**3.4**

In [74]:
for row in range(2):
    for column in range(7):
        print('@', end = '')
    print()

@@@@@@@
@@@@@@@