## HUDM 5199 - Spring 2022

## Yutong Shen, ys3453

## HW4 - March 2, 2022

## Session 6

### 8. Seaching Sequences

**Using Operator in to Prevent a ValueError**

In [1]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [2]:
key = 2

In [3]:
if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print(f'{key} not found')

found 2 at index 4

In [4]:
key = 100

In [5]:
if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print(f'{key} not found')

100 not found

### 9. Other List Methods

In [6]:
color_names = ['orange', 'yellow', 'green']

**Inserting an Element at a Specific List Index**

In [7]:
color_names.insert(0, 'red')

In [8]:
color_names

['red', 'orange', 'yellow', 'green']

**Adding an Element to the End of a List**

In [9]:
color_names.append('blue')

In [10]:
color_names

['red', 'orange', 'yellow', 'green', 'blue']

**Adding All the Elements of a Sequence to the End of a List**

In [11]:
color_names.extend(['indigo', 'violet'])

In [12]:
color_names

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [13]:
sample_list = []

In [14]:
s = 'abc'

In [15]:
sample_list.extend(s)

In [16]:
sample_list

['a', 'b', 'c']

In [17]:
t = (1, 2, 3)

In [18]:
sample_list.extend(t)

In [19]:
sample_list

['a', 'b', 'c', 1, 2, 3]

In [20]:
sample_list.extend((4, 5, 6))

In [21]:
sample_list

['a', 'b', 'c', 1, 2, 3, 4, 5, 6]

**Removing the First Occurrence of an Element in a List**

In [22]:
color_names.remove('green')

In [23]:
color_names

['red', 'orange', 'yellow', 'blue', 'indigo', 'violet']

**Emptying a List**

In [24]:
color_names.clear()

In [25]:
color_names

[]

**Counting the Number of Occurrences of an Item**

In [26]:
responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3,
             1, 4, 3, 3, 3, 2, 3, 3, 2, 2]

In [27]:
for i in range(1, 6):
    print(f'{i} appears {responses.count(i)} times in responses')

1 appears 3 times in responses
2 appears 5 times in responses
3 appears 8 times in responses
4 appears 2 times in responses
5 appears 2 times in responses

**Reversing a List's Elements**

In [28]:
color_names = ['red', 'orange', 'yellow', 'green', 'blue']

In [29]:
color_names.reverse()

In [30]:
color_names

['blue', 'green', 'yellow', 'orange', 'red']

**Copying a List**

In [31]:
copied_list = color_names.copy()

In [32]:
copied_list

['blue', 'green', 'yellow', 'orange', 'red']

### 10. Simulating Stacks with Lists

In [33]:
stack = []

In [34]:
stack.append('red')

In [35]:
stack

['red']

In [36]:
stack.append('green')

In [37]:
stack

['red', 'green']

In [38]:
stack.pop()

'green'

In [39]:
stack

['red']

In [40]:
stack.pop()

'red'

In [41]:
stack

[]

In [42]:
stack.pop()

IndexError: pop from empty list

### 11. List Comprehensions

In [43]:
list1 = []

In [44]:
for item in range(1, 6):
    list1.append(item)

In [45]:
list1

[1, 2, 3, 4, 5]

In [46]:
list2 = [item for item in range(1, 6)]

In [47]:
list2

[1, 2, 3, 4, 5]

In [48]:
list3 = [item ** 3 for item in range(1, 6)]

In [49]:
list3

[1, 8, 27, 64, 125]

In [50]:
list4 = [item for item in range(1, 11) if item % 2 == 0]

In [51]:
list4

[2, 4, 6, 8, 10]

**List Comprehension that Processes Another List's Elements**

In [52]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']

In [53]:
colors2 = [item.upper() for item in colors]

In [54]:
colors2

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE']

In [55]:
colors

['red', 'orange', 'yellow', 'green', 'blue']

### 12. Generator Expressions (lazy evaluation)

In [56]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [57]:
for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end=' ')

9 49 1 81 25

In [58]:
sqaures_of_odds = (x ** 2 for x in numbers if x % 2 != 0)

In [59]:
sqaures_of_odds

### 13. Filter, Map and Reduce

**Filtering a Sequence's Values With the Built-In Filter Function**

In [179]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

**My Solutions**

In [61]:
odd = []
for value in (x for x in numbers if x % 2 != 0):
    odd.append(value)

In [62]:
odd

[3, 7, 1, 9, 5]

In [63]:
odd2 = [x for x in numbers if x % 2 != 0]
odd2

[3, 7, 1, 9, 5]

**Solution 1** Using List Comprehensions

In [68]:
numbers2 = [x for x in numbers if x % 2 != 0]
numbers2

[3, 7, 1, 9, 5]

**Solution 2** Using Generator Expression

In [66]:
for value in (x for x in numbers if x % 2 != 0):
    print(value, end=' ')

3 7 1 9 5

In [67]:
numbers2 = []
for value in (x for x in numbers if x % 2 != 0):
    numbers2.append(value)
numbers2

[3, 7, 1, 9, 5]

**Solution 3** Creating a function to pass a list

In [69]:
def is_odd(x):
    for i in range(len(x)):
        if x[i] % 2 != 0:
            print(x[i], end=' ')
            
is_odd(numbers)

3 7 1 9 5

In [182]:
def is_odd2(x):
    for i in x:
        if i % 2 == 0:
            x.remove(i)
    return x
    
is_odd2(numbers)

[3, 7, 1, 9, 5]

**Solution 4** Creating a function to pass each element + List Comprehensions

In [72]:
def is_odd3(x):
    """Returns True only if x is odd."""
    return x % 2 != 0

In [73]:
[item for item in numbers if is_odd3(item)]

[3, 7, 1, 9, 5]

**Solution 5** Filtering a Sequence's Values with the Built-in filter Function

In [74]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [75]:
def is_odd4(x):
    """"Returns True only if x is odd"""
    return x % 2 != 0

In [76]:
list(filter(is_odd4, numbers))

[3, 7, 1, 9, 5]

In [77]:
is_odd4(numbers)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

**Using a Lambda Rather than a Function**

In [69]:
list(filter(lambda x: x % 2 != 0, numbers))

[3, 7, 1, 9, 5]

**Mapping a Sequence's Values to New Values**

In [78]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [79]:
list(map(lambda x: x ** 2, numbers))

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [80]:
[item ** 2 for item in numbers]

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [81]:
tuple(map(lambda x: x ** 2, numbers))

(100, 9, 49, 1, 81, 16, 4, 64, 25, 36)

**Combining filter and map**

In [82]:
list(map(lambda x: x ** 2,
         filter(lambda x: x % 2 != 0, numbers)))

[9, 49, 1, 81, 25]

In [83]:
[x ** 2 for x in numbers if x % 2 != 0]

[9, 49, 1, 81, 25]

### 14. Other Sequence Processing Functions

**Iterating Backwards Through a Sequence**

In [84]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [85]:
reversed_numbers = [item ** 2 for item in reversed(numbers)]

In [86]:
reversed_numbers

[36, 25, 64, 4, 16, 81, 1, 49, 9, 100]

**Combining Iterables into Tuples of Corresponding Elements**

In [87]:
names = ['Bob', 'Sue', 'Amanda']

In [88]:
grade_point_averages = [3.5, 4.0, 3.75]

In [89]:
for name, gpa in zip(names, grade_point_averages):
    print(f'Name={name}; GPA={gpa}')

Name=Bob; GPA=3.5
Name=Sue; GPA=4.0
Name=Amanda; GPA=3.75

### 15. Two-Dimensional Lists

**Creating a Two-Dimensional List**

In [90]:
a = [[77, 68, 86, 73], 
     [96, 87, 89, 81], 
     [70, 90, 86, 81]]

In [91]:
for row in a:
    print(row)

[77, 68, 86, 73]
[96, 87, 89, 81]
[70, 90, 86, 81]

In [92]:
for row in a:
    for item in row:
        print(item, end=' ')
    print()

77 68 86 73
96 87 89 81
70 90 86 81

**How the Nested Loop Execute**

In [93]:
a = [[77, 68, 86, 73], 
     [96, 87, 89, 81], 
     [70, 90, 86, 81]]

In [94]:
for i, row in enumerate(a):
    for j, item in enumerate(row):
        print(f'a[{i}][{j}]={item}', end=' ')
    print()

a[0][0]=77 a[0][1]=68 a[0][2]=86 a[0][3]=73
a[1][0]=96 a[1][1]=87 a[1][2]=89 a[1][3]=81
a[2][0]=70 a[2][1]=90 a[2][2]=86 a[2][3]=81

### 1. Dictionaries

### 1.1 Creating a Dictionary

In [95]:
country_codes = {'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [96]:
country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

**Determining if a Dictionary is Empty**

In [97]:
len(country_codes)

3

In [98]:
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is not empty

In [99]:
country_codes.clear()

In [100]:
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is empty

**Iterating through a Dictionary**

In [101]:
days_per_month = {'January': 31, 'Feburary': 28, 'March': 31}

In [102]:
days_per_month

{'January': 31, 'Feburary': 28, 'March': 31}

In [103]:
for month, day in days_per_month.items():
    print(f'{month} has {day} days')

January has 31 days
Feburary has 28 days
March has 31 days

### 1.2 Basic Dicitonary Operations

In [104]:
roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

In [105]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

**Accessing the Value Associated with a Key**

In [106]:
roman_numerals['V']

5

**Updating the Value of an Existing Key-Value Pair**

In [107]:
roman_numerals['X'] = 10

In [108]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10}

**Adding a New Key-Value Pair**

In [109]:
roman_numerals['L'] = 50

In [110]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10, 'L': 50}

**Removing a Key-Value Pair**

In [111]:
del roman_numerals['III']

In [112]:
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'X': 10, 'L': 50}

In [113]:
roman_numerals.pop('X')

10

In [114]:
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

**Attempting to Access a Nonexistent Key**

In [115]:
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

In [116]:
roman_numerals['III']

KeyError: 'III'

In [117]:
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

In [118]:
roman_numerals.get('III')

In [119]:
roman_numerals.get('III', 'III not in dictionary')

'III not in dictionary'

In [120]:
roman_numerals.get('V')

5

**Testing Whether a Dictionary Contains a Specified Key**

In [121]:
'V' in roman_numerals

True

In [122]:
'III' in roman_numerals

False

In [123]:
'III' not in roman_numerals

True

### 1.3 Dictionary Methods keys and values

In [124]:
months = {'January': 31, 'Feburary': 28, 'March': 31}

In [125]:
for month_name in months.keys():
    print(month_name, end = ' ')

January Feburary March

In [126]:
for month_number in months.values():
    print(month_number, end = ' ')

31 28 31

**Dictionary Views**

In [127]:
months_view = months.keys()

In [128]:
for key in months_view:
    print(key, end = ' ')

January Feburary March

In [129]:
months['December'] = 12

In [130]:
months

{'January': 31, 'Feburary': 28, 'March': 31, 'December': 12}

In [131]:
for key in months_view:
    print(key, end = ' ')

January Feburary March December

**Converting Dictionary Keys, Values and Key-Value Pairs to Lists**

In [132]:
list(months.keys())

['January', 'Feburary', 'March', 'December']

In [133]:
list(months.values())

[31, 28, 31, 12]

In [134]:
list(months.items())

[('January', 31), ('Feburary', 28), ('March', 31), ('December', 12)]

**Processing Keys in Sorted Order**

In [135]:
for month_name in months.keys():
    print(month_name, end=' ')

January Feburary March December

### 1.4 Dictionary Comparisons

In [136]:
country_capitals1 = {'China': 'Beijing', 'UK': 'London'}

In [137]:
country_capitals2 = {'Canada': 'Ottawa', 'Greece': 'Athens'}

In [138]:
country_capitals3 = {'UK': 'London', 'China': 'Beijing'}

In [139]:
country_capitals1 == country_capitals2

False

In [140]:
country_capitals1 == country_capitals3

True

In [141]:
country_capitals1 != country_capitals2

True

### 1.5 Example: Dictionary of Student Grades

In [142]:
"""Using a dictionary to represent an instructor's grade book."""
grade_book = {
    'Susan': [92, 85, 100],
    'Ann': [83, 95, 79],
    'Tina': [91, 89, 82],
    'Mike': [97, 91, 92]
}

all_grades_total = 0
all_grades_count = 0

for name, grades in grade_book.items():
    total = sum(grades)
    print(f'Average for {name} is {total/len(grades):.2f}')
    all_grades_total += total
    all_grades_count += len(grades)
    
print(f"Class's Average is: {all_grades_total / all_grades_count:.2f}")

Average for Susan is 92.33
Average for Ann is 85.67
Average for Tina is 87.33
Average for Mike is 93.33
Class's Average is: 89.67

### 1.6 Example: Word Counts

In [143]:
text = ('this is sample text with several words '
        'this is more sample text with some different words')

In [144]:
text.split()

['this',
 'is',
 'sample',
 'text',
 'with',
 'several',
 'words',
 'this',
 'is',
 'more',
 'sample',
 'text',
 'with',
 'some',
 'different',
 'words']

In [145]:
from collections import Counter

In [146]:
counter = Counter(text.split())

In [147]:
counter

Counter({'this': 2,
         'is': 2,
         'sample': 2,
         'text': 2,
         'with': 2,
         'several': 1,
         'words': 2,
         'more': 1,
         'some': 1,
         'different': 1})

In [148]:
for word, count in sorted(counter.items()):
    print(f'{word:<12}{count}')

different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

In [149]:
print('Number of unique keys:', len(counter.keys()))

Number of unique keys: 10

### 1.7 Dictionary Method Update

In [150]:
country_codes = {}

In [151]:
country_codes.update({'South Africa': 'za'})

In [152]:
country_codes

{'South Africa': 'za'}

In [153]:
country_codes.update({'Australia': 'ar'})

In [154]:
country_codes

{'South Africa': 'za', 'Australia': 'ar'}

In [155]:
country_codes.update({'Australia': 'au'})

In [156]:
country_codes

{'South Africa': 'za', 'Australia': 'au'}

### 1.8 Dictioary Comprehensions

In [157]:
months = {'January': 1, 'Feburary': 2, 'March': 3}

In [158]:
months2 = {number: name for name, number in months.items()}

In [159]:
months2

{1: 'January', 2: 'Feburary', 3: 'March'}

In [160]:
grades = {'Sue': [98, 87, 94], 'Bob': [84, 95, 91]}

In [161]:
grades2 = {k: sum(v) / len(v) for k, v in grades.items()}

In [162]:
grades2

{'Sue': 93.0, 'Bob': 90.0}

## Textbook Exercises

### 6.2

In [167]:
from collections import Counter
text = ('to be or not to be that is the question') 
counter = Counter(text.split())
# for word, count in sorted(counter):
for word, count in sorted(counter.items()):
#     print(word)
    print(f'{word:<12}{count}')

be          2
is          1
not         1
or          1
question    1
that        1
the         1
to          2

The original code does not use counter.items().

### 6.3

In [195]:
temperatures = {
           'Monday': [66, 70, 74],
           'Tuesday': [50, 56, 64],
           'Wednesday': [75, 80, 83],
           'Thursday': [67, 74, 81]
       }
for k, v in temperatures.items():
    print(f'{k}: {sum(v)/len(v):.2f}')

Monday: 70.00
Tuesday: 56.67
Wednesday: 79.33
Thursday: 74.00

The code prints the average of the three Fahrenheit temperature samples for each of four days.

### 6.4

In [189]:
#a) 
{1, 2, 4, 8, 16}.union({1, 4, 16, 64, 256}) # {1,2,4,8,16,64,256}

{1, 2, 4, 8, 16, 64, 256}

In [190]:
#b) 
{1, 2, 4, 8, 16}.intersection({1, 4, 16, 64, 256}) # {1,4,16}

{1, 4, 16}

In [191]:
#c) 
{1,2,4,8,16}.difference({1,4,16,64,256}) #{2,8}

{2, 8}

In [192]:
#d) 
{1, 2, 4, 8, 16}.symmetric_difference({1, 4, 16, 64, 256}) # {2,8,64,256}

{2, 8, 64, 256}

In [193]:
#e) 
{1,2,4,8,16}.isdisjoint({1,4,16,64,256}) #False

False

### 6.9

In [169]:
tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}

In [170]:
# a) Check whether the dictionary contains the key 'Canada'.
'Canada' in tlds

True

In [171]:
# b) Check whether the dictionary contains the key 'France'.
'France' in tlds

False

In [172]:
# c) Iterate through the keyvalue pairs and display them in two-column format.
for key, value in tlds.items():
    print(key, value)

Canada ca
United States us
Mexico mx

In [173]:
# d) Add the keyvalue pair 'Sweden' and 'sw' (which is incorrect).
tlds.update({'Sweden':'sw'})
tlds

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'sw'}

In [174]:
# e) Update the value for the key 'Sweden' to 'se'.
tlds['Sweden'] = 'se'
tlds

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'se'}

In [177]:
# f) Use a dictionary comprehension to reverse the keys and values.
tlds2 = {value: key for key, value in tlds.items()}
tlds2

{'ca': 'Canada', 'us': 'United States', 'mx': 'Mexico', 'se': 'Sweden'}

In [178]:
# g) With the result of part(f), use a dictionary comprehension to convert the country names to all uppercase letters.
{key: value.upper() for key, value in tlds2.items()}

{'ca': 'CANADA', 'us': 'UNITED STATES', 'mx': 'MEXICO', 'se': 'SWEDEN'}