## HUDM 5199 - Spring 2022

## Yutong Shen, ys3453

## HW2 - Feb 13, 2022

## Session 4

### Program Development: Nested Control Statements

In [2]:
# initialize variables
passes = 0 # number of passes
failures = 0 # number of failures

#process 10 students
for student in range(10):
    # get one exam result
    result = int(input('Enter result (1=pass, 2=fail): '))
    
    if result == 1:
        passes += 1
    else:
        failures += 1

# termination phase
print('Passed:', passes)
print('Failed:', failures)

if passes > 8:
    print('Bonus to instructor')

Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Passed: 10
Failed: 0
Bonus to instructor

### Simple Number values Format

In [3]:
# Floating point numbers
amount = 112.31
print(amount)
print(f'{amount:.20f}')

112.31
112.31000000000000227374

### break and continue Statements

In [4]:
for number in range(100):
    if number == 10:
        break
    print(number, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [5]:
number = 0

while number in range(10):
    number += 1
    if number in range(5, 7, 1):
        continue
    print(number, end = ' ')

1 2 3 4 7 8 9 10

In [6]:
for number in range(10):
    if number == 5:
        continue
    print(number, end = ' ')

0 1 2 3 4 6 7 8 9

### Boolean Operators and, or and not

**and**

In [7]:
gender = 'Female'

In [8]:
age = 70

In [9]:
if gender == 'Female' and age >= 65:
    print('senior female')

senior female

**or**

In [10]:
semester_average = 83

In [11]:
final_exam = 95

In [12]:
if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

**not**

In [13]:
grade = 87

In [14]:
if not grade == -1:
    print('The next grade is:', grade)

The next grade is: 87

In [15]:
if grade != -1:
    print('The next grade is:', grade)

The next grade is: 87

### Defining Functions

In [16]:
def square(number):
    """Calculate the square of number"""
    return number ** 2

In [17]:
square(7)

49

In [18]:
square(2.5)

6.25

In [19]:
print('The square of 7 is', square(7))

The square of 7 is 49

### Returning a Result to a Function's Caller

In [20]:
def f(x):
    x = x * 2
    return x

f(2)

4

In [21]:
def f(x):
    x = x * 2
    return

f(2)

In [22]:
def f(x):
    x = x * 2
    return ()

f(2)

()

In [23]:
def f(x):
    x = x * 2

f(2)

In [24]:
def multiply5(number):
    i = 5
    number = number * i
    return number

In [25]:
multiply5(3)

15

In [26]:
multiply5(6)

30

### Functions with Multiple Parameters

In [27]:
def maximum(value1, value2, value3):
    """Return the maximum of three values."""
    max_value = value1
    if value2 > max_value:
        max_value = value2
    if value3 > max_value:
        max_value = value3
    return max_value

In [28]:
maximum(12, 27, 36)

36

In [29]:
maximum(12.3, 45.6, 9.7)

45.6

In [30]:
max(12, 27, 36)

36

### Python Standard Library

### math Module Functions

In [31]:
import math

In [32]:
math.sqrt(900)

30.0

In [33]:
math.fabs(-10) # absolute value

10.0

### Using IPython Tab Completion for Discovery

In [34]:
# press <Tab> after ma
ma

NameError: name 'ma' is not defined

In [35]:
# press <Tab> after the dot
math.

SyntaxError: invalid syntax (1810615657.py, line 2)

In [37]:
math.fabs?

### Default Parameter Values

In [38]:
def rectangle_area(length=2, width=3):
    """Returning a rectangle's area."""
    return length * width

In [39]:
rectangle_area()

6

In [40]:
rectangle_area(10)

30

In [41]:
rectangle_area(10, 5)

50

### Keyword Arguments

In [42]:
def rectangle_area(length, width):
    """Returning a rectangle's area."""
    return length * width

In [43]:
rectangle_area(width = 5, length = 10)

50

### Arbitrary Argument List

In [44]:
def average(*args):
    return sum(args) / len(args)

In [45]:
average(5, 10)

7.5

In [46]:
average(5, 10, 15)

10.0

In [47]:
average(5, 10, 15, 20)

12.5

In [48]:
max(11)

TypeError: 'int' object is not iterable

In [49]:
max(11, 22)

22

In [50]:
max(12, 27, 36)

36

In [51]:
grades = [88, 75, 96, 55, 83]

In [52]:
average(*grades)

79.4

### Methods: Functions that Belong to Objects

In [53]:
s = 'Hello'

In [54]:
s.lower()

'hello'

In [55]:
s.upper()

'HELLO'

In [56]:
s

'Hello'

### Scope Rules

Local Scope

Global Scope

In [58]:
x = 7

In [59]:
def access_global():
    print('x printed from access_global:', x)

In [60]:
access_global()

x printed from access_global: 7

In [61]:
def try_to_modify_global():
    x = 3.5
    print('x printed from try_to_modify_global:', x)

In [62]:
try_to_modify_global()

x printed from try_to_modify_global: 3.5

In [63]:
x

7

In [64]:
def modify_global():
    global x;
    x = 'hello'
    print('x printed from modify_global:', x)

In [65]:
modify_global()

x printed from modify_global: hello

In [66]:
x

'hello'

### import: A Deeper Look

In [67]:
from math import ceil, floor

In [68]:
ceil(10.3)

11

In [69]:
floor(10.7)

10

In [70]:
e = 'hello'

In [71]:
from math import *

In [72]:
e

2.718281828459045

In [73]:
import statistics as stats

In [74]:
grades = [85, 93, 45, 87, 93]

In [75]:
stats.mean(grades)

80.6

### Build your own functions

In [76]:
def my_product(*args):
    if len(args) == 0:
        return 0
    res = 1
    for x in args:
        res *= x
    return res

In [77]:
my_product(6, 10, 7)

420

In [78]:
my_product()

0

In [79]:
my_product(5)

5

In [80]:
my_product(0, 19, 6)

0

In [81]:
my_product(9, 2, 3, 2)

108

In [82]:
import numpy as np
def my_product2(*args):
    if len(args) == 0:
        return 0
    return np.prod(args)

In [83]:
my_product2()

0

In [84]:
my_product2(2, 5, 3)

30

In [85]:
my_product2(2, 7, 5, 3)

210

### Build and import your own functions

In [94]:
import my_function

In [87]:
my_function.my_product()

0

In [88]:
my_function.my_product(5, 6, 7)

210

In [89]:
final_result = my_function.my_product(9, 8, 2)

In [90]:
final_result

144

In [91]:
my_function.my_product2()

0

In [92]:
my_function.my_product2(5, 6, 7)

210

In [93]:
final_result = my_function.my_product2(9, 8, 2)

In [95]:
final_result

144

In [96]:
def product_user_input():
    """Calculate product of the arguments."""
    product = input('Please enter a number (enter "end" to end): ')
    
    if product == 'end':
        return('No number is entered!')
    else:
        product = int(product)
        product = product * 1
        
        number = input('Please enter a number (enter "end" to end): ')
        
        if number == 'end':
            return product
        else:
            while number != 'end':
                number = int(number)
                product *= number
                number = input('Please enter a number (enter "end" to end): ')
                
            return product

In [97]:
product_user_input()

Please enter a number (enter "end" to end): end

'No number is entered!'

## Textbook Exercises

### 4.3

In [98]:
def cube(x):
    """Calculate the cube of x."""
    x ** 3
print('The cube of 2 is', cube(2))

The cube of 2 is None

The above code does not have a return statement. The correct code should be:

In [99]:
def cube(x):
    """Calculate the cube of x."""
    return x ** 3
print('The cube of 2 is', cube(2))

The cube of 2 is 8

### 4.4

In [100]:
def mystery(x):
    y=0
    for value in x:
        y += value ** 2
    return y
mystery([1, 2, 3, 4, 5])

55

The mystery function calculates the sum of the square of each element from the input.

### 4.5

In [101]:
def seconds_since_midnight(h, m, s):
    hour_in_seconds = h * 60 * 60
    minute_in_seconds = m * 60
    return (hour_in_seconds + minute_in_seconds + s)

seconds_since_midnight(13, 30, 45)

48645

## Q1 & Q2

### Q1: Use a loop to find the two largest values of 10 numbers entered.

In [102]:
# initialize variables
num1 = -inf
num2 = -inf

#process 10 numbers
for number in range(10):
    # get one number
    value = int(input('Enter number: '))
    if value > num1:
        num2 = num1
        num1 = value
    elif value < num1 and value > num2:
        num2 = value
    
print('The two largest values are: ', num1, num2)

Enter number: 1
Enter number: 3
Enter number: 2
Enter number: 5
Enter number: 6
Enter number: 39
Enter number: 29
Enter number: 39
Enter number: 40
Enter number: 2
The two largest values are:  40 39

### Q2: Use a loop to find the two largest values of any positive numbers entered (assume people will always enter positive number if they don’t want to end)

In [103]:
# initialize variables
num1 = -inf
num2 = -inf

#process numbers entered
while value > 0:
    # get one number
    value = int(input('Enter number: '))
    if value > num1:
        num2 = num1
        num1 = value
    elif value < num1 and value > num2:
        num2 = value

print('The two largest values are: ', num1, num2)

Enter number: 1
Enter number: 3
Enter number: 2
Enter number: 5
Enter number: 4
Enter number: 7
Enter number: 8
Enter number: 6
Enter number: 4
Enter number: 50
Enter number: 38
Enter number: 29
Enter number: 47
Enter number: -1
The two largest values are:  50 47